<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Vyhledávání</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Input pole pro zadání datumu -->
  <ion-item>
    <ion-label position="floating">Zadejte datum (YYYY-MM-DD):</ion-label>
    <ion-input [(ngModel)]="inputDate"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="searchByDate()">Vyhledat</ion-button>

  <!-- Výsledek -->
  <ion-card *ngIf="result">
    <ion-card-header>
      <ion-card-title>Svátek má:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ result }}
    </ion-card-content>
  </ion-card>
</ion-content>
