<ion-header [translucent]="true" class="dark-theme">
  <ion-toolbar>
    <ion-title>Vyhledávání</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Input pole pro zadání datumu -->
  <ion-item>
    <ion-label position="floating">Zadejte datum</ion-label>
    <ion-input [(ngModel)]="inputDate" placeholder="DD.MM."></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="searchByDate()">Vyhledat podle data</ion-button>

  <!-- Výsledek podle datumu -->
  <div class="result-container">
    <ion-card *ngIf="resultDate">
      <ion-card-header>
        <ion-card-title>Svátek má:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ resultDate }}
      </ion-card-content>
    </ion-card>
    <!-- Rezerva na výsledek i při absenci dat -->
    <div *ngIf="!resultDate" class="placeholder"></div>
  </div>

  <!-- Vyhledávání podle jména -->
  <ion-item>
    <ion-label position="floating">Zadejte jméno</ion-label>
    <ion-input [(ngModel)]="inputName"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="searchByName()">Vyhledat podle jména</ion-button>

  <!-- Výsledek podle jména -->
  <div class="result-container">
    <ion-card *ngIf="resultName">
      <ion-card-header>
        <ion-card-title>Svátek ve dne:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ resultName }}
      </ion-card-content>
    </ion-card>
    <!-- Rezerva na výsledek i při absenci dat -->
    <div *ngIf="!resultName" class="placeholder"></div>
  </div>
</ion-content>
