.dark-theme {
  --ion-background-color: #000000;
  --ion-text-color: #ffffff;
}

.basic-calendar {
--ion-background-color: #ffffff;
--ion-text-color: #000000;
}

ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ion-datetime {
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h3.sc-ion-label-md {
  color: #000000 !important;
  font-size: 18px !important;
}

p.sc-ion-label-md {
  color: #000000 !important;
  font-size: 16px !important;
}

ion-card {
  background-color: #acacac; /* Bílé pozadí pro karty */
  color: #000000; /* Černá barva textu */
  margin-top: 20px;
  font-size: 1.8rem; /* Zvýšení velikosti textu */
  padding: 10px; /* Zvýšení vnitřního odsazení */
  text-align: center; /* Zarovnání textu na střed */
}

ion-card-title {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}

ion-card-content {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

ion-button ion-icon[name="heart"] {
  color: rgb(255, 0, 0); /* Červená barva pro ikony "heart" */
}

ion-button ion-icon[name="heart-outline"] {
  color: red; /* Červená barva pro ikony "heart-outline" */
}
