<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Kalendář</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleView()">
        {{ showRowView ? 'Zobrazit kalendář' : 'Zobrazit řádkový seznam' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Klasický kalendář -->
  <div *ngIf="!showRowView">
    <!-- `presentation="date"` určuje zobrazení kalendáře jako výběr datumu -->
    <!-- `(ionChange)` zachytí změnu datumu a spustí metodu `dateNameday` -->
    <ion-datetime
      presentation="date"
      (ionChange)="dateNameday($event)"
    ></ion-datetime>

  <!-- *ngIf zajišťuje, že karta se zobrazí pouze, pokud existuje hodnota `nameday` -->
  <ion-card *ngIf="nameday">
    <ion-card-header>
      <ion-card-title>Svátek má:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
    <!-- Dynamicky zobrazené jméno svátku -->
      {{ nameday }}
    </ion-card-content>
    
  </ion-card>
  </div>

<!-- Řádkový kalendář -->
<div *ngIf="showRowView">
  <!-- Tlačítka pro výběr měsíce -->
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let month of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
        <ion-button
          expand="block"
          (click)="loadLinearNamedays(month)"
        >
          {{
            [
              'Leden',
              'Únor',
              'Březen',
              'Duben',
              'Květen',
              'Červen',
              'Červenec',
              'Srpen',
              'Září',
              'Říjen',
              'Listopad',
              'Prosinec',
            ][month - 1]
          }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Seznam svátků -->
  <ion-list>
    <ion-item *ngFor="let day of rowNamedays">
      <ion-label>
        <h3>{{ day.date }}</h3>
        <p>{{ day.name }}</p>
      </ion-label>
      <ion-button fill="clear" (click)="toggleFavorite(day.name, day.date)">
        <ion-icon
          [name]="isFavorite(day.name) ? 'heart' : 'heart-outline'"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</div>
</ion-content>
